trunk/HawkWP/HawkWP/Service References/RemoteHawk/RemoteHawk1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteHawk" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.60:51337/remotehawk?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.60:51337/remotehawk?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.60:51337/remotehawk?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteHawk_GetCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentials" />
  </wsdl:message>
  <wsdl:message name="IRemoteHawk_GetCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteHawk_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IRemoteHawk_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteHawk_GetNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNetwork" />
  </wsdl:message>
  <wsdl:message name="IRemoteHawk_GetNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteHawk_GetIPv6Spoofing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIPv6Spoofing" />
  </wsdl:message>
  <wsdl:message name="IRemoteHawk_GetIPv6Spoofing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIPv6SpoofingResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemoteHawk">
    <wsdl:operation name="GetCredentials">
      <wsdl:input wsam:Action="http://tempuri.org/IRemoteHawk/GetCredentials" message="tns:IRemoteHawk_GetCredentials_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRemoteHawk/GetCredentialsResponse" message="tns:IRemoteHawk_GetCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsam:Action="http://tempuri.org/IRemoteHawk/GetClients" message="tns:IRemoteHawk_GetClients_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRemoteHawk/GetClientsResponse" message="tns:IRemoteHawk_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNetwork">
      <wsdl:input wsam:Action="http://tempuri.org/IRemoteHawk/GetNetwork" message="tns:IRemoteHawk_GetNetwork_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRemoteHawk/GetNetworkResponse" message="tns:IRemoteHawk_GetNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIPv6Spoofing">
      <wsdl:input wsam:Action="http://tempuri.org/IRemoteHawk/GetIPv6Spoofing" message="tns:IRemoteHawk_GetIPv6Spoofing_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRemoteHawk/GetIPv6SpoofingResponse" message="tns:IRemoteHawk_GetIPv6Spoofing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRemoteHawk" type="tns:IRemoteHawk">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCredentials">
      <soap:operation soapAction="http://tempuri.org/IRemoteHawk/GetCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IRemoteHawk/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNetwork">
      <soap:operation soapAction="http://tempuri.org/IRemoteHawk/GetNetwork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIPv6Spoofing">
      <soap:operation soapAction="http://tempuri.org/IRemoteHawk/GetIPv6Spoofing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteHawk">
    <wsdl:port name="BasicHttpBinding_IRemoteHawk" binding="tns:BasicHttpBinding_IRemoteHawk">
      <soap:address location="http://192.168.1.60:51337/remotehawk" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>